*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #17131E;
    color: rgb(240, 240, 240)
}

main{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #17121a;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 350px;
    background-color: #1c1a20;
    transition: 1s all;
}
img{
    margin-top: 25px;
    width: 300px;
    height: 300px;
}

.fa-solid{
    transition: 500ms  all;
}

.fa-solid:hover{
    scale: 1.2;
}

input[type="range"]{
    appearance: none;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ceb8d6, #443348);
    background-repeat: no-repeat;
    transition: all 250ms;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.title-name{
    text-align: left;
    font-size: 1em;
    width: 100%;
}
.artists{
    text-align: left;
    margin-bottom: 10px;
}
.title-name p{
    margin: 0;
    margin-bottom: 10px;
}
.progress{
    margin-top: 10px;
}

.progress input[type="range"]{
    background-size: 0% 100%;
}

.time{
    display: flex;
    justify-content: space-between;
}
.player{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-button , .pause-button{
    z-index: 0;
    font-size: 50px;
    cursor: pointer;
}
.back-next{
    font-size: 40px;
    cursor: pointer;
}
.pause-button{
    display: none;
}

.volume{
    margin-top: 10px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.volume button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #1c1a20;
}

.volume button i{
    font-size: 16px;
}

.volume input[type="range"]{
    background-size: 30% 100%;
}

@media (max-width: 375px) {
    body{
        font-size: 0.8rem;
    }
    main{
        max-width: 100vw;
        text-align: center;
        font-size: 0.8rem;
        padding: 1rem;
    }

    .mainimage{
        width: 90vw;
        height: auto;
    }

    .progress input[type="range"]{
        width: 90vw;
    }
}